@page "/RecoverPassword"

<h3>Recover Password </h3>
 <EditForm Model="usuario">
        <DataAnnotationsValidator/>

        <div id="ContenedorPrincipal" class="card">
            <div class="form-group">
                <img src="css/Images/Logo1.jpg" />" title="LogoEmpresa" alt="Logo del Login" Style=" margin-left:350px; width:350px; height:350px;" />
            </div>

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <InputText @bind-Value="Mail" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Nueva Contraseña</label>
                        <input type="password" class="form-control" @bind-value="NewPassword" />
                        <ValidationMessage For="(()=> usuario.Contrasena)"></ValidationMessage>
                    </div>

                    <div class="form-group">
                        <label>Confirmar Contraseña</label>
                        <input type="password" class="form-control" @bind-value="ConfirmNewPassword" />
                        <ValidationMessage For="(()=> usuario.Contrasena)"></ValidationMessage>
                    </div>

                    <div class="form-group">

                        <a class="btn btn-success btn-block" @onclick="ChangePassword"> Confirmar </a>
                        <a class="btn btn-danger btn-block" href="/"> Volver al menu principal </a>

                    </div>
                </form>
            </div>
        </div>
</EditForm>


@code {
    Usuarios usuario = new Usuarios();

    private string Mail { get; set; } = "";
    private string NewPassword { get; set; } = "";
    private string ConfirmNewPassword { get; set; } = "";
    bool Exist = false;

    private void ChangePassword()
    {
        Exist = UsuariosBLL.ExisteEmail(Mail);

        if (Exist)
        {
            if (NewPassword.Equals(ConfirmNewPassword))
                UsuariosBLL.ChangePassword(Mail, NewPassword);

            toast.ShowSuccess("Mesagge");
            Console.WriteLine("Existe el Email");
        }
        else
        {
            toast.ShowError("El email que acaba de ingresar no se encuentra en la base de datos");
            Console.WriteLine("No entro");
        }
    }




}
