@page "/RecoverPassword"
@using System.ComponentModel.DataAnnotations;

<h3>Recover Password </h3>

<div id="Fondo" class="card">
    <div class="form-group">
        <img src="css/Images/Logo1.jpeg" title="LogoEmpresa" alt="Logo del Login" Style=" margin-left:220px; width:350px; height:350px;" />
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="text" @bind-value="Mail" class="form-control" autocomplete="off" readonly="true"/>
        </div>

        <div class="form-group">
            <label>Nueva Contraseña</label>
            <input type="password" class="form-control" @bind-value="NewPassword" />
        </div>

        <div class="form-group">
            <label>Confirmar Contraseña</label>
            <input type="password" class="form-control" @bind-value="ConfirmNewPassword" />
        </div>

        <div class="form-group">

            <a class="btn btn-success btn-block" @onclick="ChangePassword"> Confirmar </a>
            <a class="btn btn-danger btn-block" href="/"> Volver al menu principal </a>
        </div>
    </div>
</div>



@code {
    Usuarios usuario = new Usuarios();

    [Required]
    private string Mail { get; set; }

    [Required]
    private string NewPassword { get; set; } = "";

    [Required]
    private string ConfirmNewPassword { get; set; } = "";

    bool Exist = false;


    protected override void OnInitialized()
    {
        this.Mail = EmailService.Correo;
    }

    private void Nuevo()
    {
        this.Mail = EmailService.Correo;
        this.NewPassword = "";
        this.ConfirmNewPassword = "";
    }

    private void ChangePassword()
    {
        Exist = UsuariosBLL.ExisteEmail(Mail);

        if (Exist)
        {
            if (NewPassword.Equals(ConfirmNewPassword))
            {
                UsuariosBLL.ChangePassword(Mail, NewPassword);
                toast.ShowSuccess("Se ha cambiado la contraseña");
                Nuevo();
            }
            else
            {
                toast.ShowError("Las contraseñas no coinciden");
                Nuevo();
            }

        }
        else
        {
            toast.ShowError("El email que acaba de ingresar no se encuentra en la base de datos");
            Nuevo();
        }
    }
}
