@page "/CategoriaReporte"
@inject IJSRuntime js
@using ProyectoFinal_PA2.Pages.Consultas; 

<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <div class="card text-center">
                <div class="card-header">
                    No Autorizado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Atención</h5>
                    <p>Debe iniciar sesion para poder acceder a estas opciones</p>
                    <a href="LogInPage" class="btn btn-primary">Ir a menu Log-in</a>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </NotAuthorized>

        <Authorized>
            @if (!TipoUsuario)
            {
                <div class="card text-center">
                    <div class="card-header">
                        No Autorizado
                    </div>
                    <div class="card-body">
                        <h5>Atención</h5>
                        <p>Debe tener acceso de administrador para poder acceder a estas opciones.</p>
                        <a href="/" class="btn btn-primary">Volver al Menú principal</a>
                    </div>
                </div>
            }
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated && TipoUsuario)
{
    <div style="margin-top:5px;">
        <h1>Reporte de Categorias</h1>
        <a class="btn btn-primary" href="ConsultaCategoiras">Volver a Consulta Categorias</a>
     </div>

     @if (Data is { })
     {
         <form>
             <object data="@pdfContent" width="1000" height="1000"></object>
         </form>
     }
}
<img src="css/Images/Logo1.JPEG " title="LogoEmpresa" alt="Logo de la empresa" />

@code {
    private bool TipoUsuario;
    List<Categorias> lista = new List<Categorias>();

    byte[] Data;
    string pdfContent = "";


    protected override void OnInitialized()
    {
        TipoUsuario = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.IsInRole("Administrador");
        ImprimirReportes(C_CategoriasComponent.lista);
    }

    private async Task ImprimirReportes(List<Categorias> lista)
    {
        ProyectoFinal_PA2.Reportes.CategoriasReport cat = new Reportes.CategoriasReport();
        Data = cat.Reporte(lista);

        pdfContent = "data:application/pdf;base64,";
        pdfContent += System.Convert.ToBase64String(Data);
    }
}
