@page "/ResetPassword"

<EditForm Model="Usuarios">
    <div id="Fondo" class="card">
        <div id="banner">
            <img src="css/Images/Logo.jpg" alt="Logo del Login " Style=" margin-left:210px; width:350px; height:350px;">
        </div>

        <div class="card-body">
            <form>
                <h4> Restablecer contraseña </h4>

                @*Nota para informar al usuario*@
                <div class="alert alert-dark" role="alert">
                    En caso de haber olvidado su contraseña, Ingrese su correo electrónico para recibir un correo de recuperación.
                </div>
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <InputText @bind-Value="Mail" class="form-control" />
                    
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block" @onclick="VerificarEmail">Enviar correo de recuperación</button>
                    <a class="btn btn-danger btn-block" href="/">Volver al menu inicial</a>
                </div>
            </form>
        </div>
    </div>

    @*<div class="form-group">
            <img src="css/Images/Logo.jpg" title="LogoEmpresa" alt="Logo del Login" Style=" margin-left:350px; width:350px; height:350px;" />
        </div>*@
</EditForm>

@code {
    private int Usuarios { get; set; }
    private string Mail = "";
    public string Mesagge { get; set; } = "";
    bool Exist = false;

    private void VerificarEmail()
    {
        Exist = UsuariosBLL.ExisteEmail(Mail);

        if(Exist)
        {
            Mesagge = EmailService.SendMail(Mail);
            toast.ShowSuccess("Mesagge");
            Console.WriteLine("Existe el Email");
        }
        else
        {
            toast.ShowError("El email que acaba de ingresar no se encuentra en la base de datos");
            Console.WriteLine("No entro");
        }

    }



}
