#Logo {
    height: 120px;
    width: 100px;
    margin-left: 390px;
}

#Titulo {
    float: left;
    margin-left: 350px;
    font-family: "Times New Roman, Arial, sans-serif";
    font-weight: bold;
}

#PrincipalContainer {
    background-color: rgb(188,191,197);
}

label {
    font-size: 23px;
    font-family: "Times New Roman, Arial, sans-serif";
}

small {
    color: rgb(0,0,0);
    font-size: 20px;
    font-family: "Times New Roman, Arial, sans-serif";
}
