@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Sistema Repuestos Rafa</h1>
    </Authorized>

    <NotAuthorized>
        <h1>Inicie Sesion</h1>
    </NotAuthorized>

</AuthorizeView>

<img src="css/Images/Logo1.JPEG " title="LogoEmpresa" alt="Logo de la empresa" />