@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hola!, @context.User.Identity.Name</h1>
    </Authorized>

    <NotAuthorized>
        <h1>Inicie Sesion</h1>
    </NotAuthorized>
</AuthorizeView>

<img src="css/Images/Logo.jpg" title="LogoEmpresa" alt="Logo del Login" />