@page "/"

<AuthorizeView>
    <Authorized>
        <h1 style="font-family: font-family: 'Helvetica', Helvetica Neue, Arial, sans-serif; font-weight:bold;">Sistema Repuestos Rafa</h1>
    </Authorized>

    <NotAuthorized>
        <h1 style="font-family: font-family: 'Helvetica', Helvetica Neue, Arial, sans-serif; font-weight:bold;" >Inicie Sesion</h1>
    </NotAuthorized>

</AuthorizeView>

<div id="FondoPrincipal">
    <img id="LogoEmpresa" src="css/Images/Logo1.JPEG " title="LogoEmpresa" alt="Logo de la empresa" />
</div>
