@page "/loginControl"
@inject NavigationManager navigator
@using System.Web;

<CascadingAuthenticationState>



    <AuthorizeView>
        <Authorized>
            <b>Hola, @context.User.Identity.Name!</b>
            <a class="ml-md-auto btn btn-primary"
               href="/logout?returnUrl=/"
               target="_top">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a class="ml-md-auto btn btn-primary" href="/LogInPage" target="_top">Login</a>
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>
@code {
    string Username = "";
    string Password = "";

    //public string User { get; set; }
    //public string Pass { get; set; }

    private string encode(string param)
    {

        return HttpUtility.UrlEncode(param);
    }
}