<AuthorizeView>

    <Authorized>
        <a href="Identity/Account/Manager" >Hola! @context.User.Identity.Name</a>
        
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>

    <NotAuthorized>
        <a href="Identity/Account/Registe"> Registrarse </a>
    </NotAuthorized>

</AuthorizeView>

@code {

}
