@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @* <LoginControl/>  *@


        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        <BlazoredToasts />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
