

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProyectoFinal-PA2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @*Registros*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenuR= !expandSubMenuR">
                <span class="oi oi-plus" aria-hidden="true"></span> Registros
            </NavLink>
            @if (expandSubMenuR)
            {
                <ul class="nav flex-column">

                    @*Registro Categorias*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroCategorias">
                            <span class="oi oi-align-center" aria-hidden="true"></span> R Categorias
                        </NavLink>
                    </li>

                    @*Registro Clientes*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroClientes">
                            <span class="oi oi-people" aria-hidden="true"></span> R Clientes
                        </NavLink>
                    </li>

                    @*Registro Compras*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroCompras">
                            <span class="oi oi-cart" aria-hidden="true"></span> R Compras
                        </NavLink>
                    </li>

                    @*Registro Empleados*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroEmpleados">
                            <span class="oi oi-people" aria-hidden="true"></span> R Empleados
                        </NavLink>
                    </li>

                    @*Registro Productos*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroProductos">
                            <span class="oi oi-tags" aria-hidden="true"></span> R Productos
                        </NavLink>
                    </li>

                    @*Registro Suplidores*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroSuplidores">
                            <span class="oi oi-people" aria-hidden="true"></span> R Suplidores
                        </NavLink>
                    </li>

                    @*Registro Usuarios*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroUsuarios">
                            <span class="oi oi-people" aria-hidden="true"></span> R Usuarios
                        </NavLink>
                    </li>

                    @*Registro Ventas*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="RegistroVentas">
                            <span class="oi oi-cart" aria-hidden="true"></span> R Ventas
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        @*Consultas*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenuC= !expandSubMenuC">
                <span class="oi oi-plus" aria-hidden="true"></span> Consultas
            </NavLink>
            @if (expandSubMenuC)
            {
                <ul class="nav flex-column">

                    @*Consulta Categorias*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaCategoiras">
                            <span class="oi oi-file" aria-hidden="true"></span> C Categorias
                        </NavLink>
                    </li>

                    @*Consulta Clientes*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaClientes">
                            <span class="oi oi-file" aria-hidden="true"></span> C Clientes
                        </NavLink>
                    </li>

                    @*Consulta Compras*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaCompras">
                            <span class="oi oi-file" aria-hidden="true"></span> C Compras
                        </NavLink>
                    </li>

                    @*Consulta Empleados*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaEmpleados">
                            <span class="oi oi-file" aria-hidden="true"></span> C Empleados
                        </NavLink>
                    </li>

                    @*Consulta Productos*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaProductos">
                            <span class="oi oi-file" aria-hidden="true"></span> C Productos
                        </NavLink>
                    </li>

                    @*Consulta Suplidores*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaSuplidores">
                            <span class="oi oi-file" aria-hidden="true"></span> C Suplidores
                        </NavLink>
                    </li>

                    @*Consulta Usuarios*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaUsuarios">
                            <span class="oi oi-file" aria-hidden="true"></span> C Usuarios
                        </NavLink>
                    </li>

                    @*Consulta Ventas*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ConsultaVentas">
                            <span class="oi oi-file" aria-hidden="true"></span> C Ventas
                        </NavLink>
                    </li>
                </ul>
            }
        </li> 

        @*Reportes*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenuRe= !expandSubMenuRe">
                <span class="oi oi-plus" aria-hidden="true"></span> Reportes
            </NavLink>
            @if (expandSubMenuRe)
            {
                <ul class="nav flex-column">

                    @*Reportes Categorias*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="CategoriaReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Categorias
                        </NavLink>
                    </li>

                    @*Reportes Clientes*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ClienteReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Clientes
                        </NavLink>
                    </li>

                    @*Reportes Compras*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ComprasReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Compras
                        </NavLink>
                    </li>

                    @*Reportes Empleados*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="EmpleadosReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Empleados
                        </NavLink>
                    </li>

                    @*Reportes Productos*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ProductosReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Productos
                        </NavLink>
                    </li>

                    @*Reportes Suplidores*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="SuplidoresReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Suplidores
                        </NavLink>
                    </li>

                    @*Reportes Usuarios*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="UsuariosReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Usuarios
                        </NavLink>
                    </li>

                    @*Reportes Ventas*@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="VentasReporte">
                            <span class="oi oi-file" aria-hidden="true"></span> R Ventas
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

    </ul>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenuR;
    private bool expandSubMenuC;
    private bool expandSubMenuRe;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
