@page "/MenuRegistros"
    <style type="text/css">
    
        
        img{
            height:50px;
            width: 50px;
        }
        #ContenedorPrincipal div {
            height: 100px;
            width: 250px;
        }
    </style>    

    <div id="ContenedorPrincipal" class="card-header">

        <div class="form-group">
            <h3>Registros</h3>
        </div>

    
        <div class="row">
            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/UserLogo2.png" alt="Logo usuarios" />
                <a class="btn btn-warning" href="RegistroUsuarios">Registro usuarios</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/UserLogo2.png" alt="Logo usuarios" />
                <a class="btn btn-warning" href="RegistroClientes">Registro Clientes</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/UserLogo2.png" alt="Logo usuarios" />
                <a class="btn btn-warning" href="RegistroEmpleados">Registro Empleados</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/UserLogo2.png" alt="Logo Suplidores" />
                <a class="btn btn-warning" href="RegistroSuplidores">Registro Suplidores</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/ProductsImage.png" alt="Logo Productos" />
                <a class="btn btn-warning" href="RegistroProductos">Registro Productos</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/ProductsImage.png" alt="Logo Categorias" />
                <a class="btn btn-warning" href="RegistroCategorias">Registro Categorias</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/ProductsImage.png" alt="Logo ventas" />
                <a class="btn btn-warning" href="RegistroVentas">Registro Ventas</a>
            </div>

            <div class="row" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/ProductsImage.png" alt="Logo Compras" />
                <a class="btn btn-warning" href="RegistroCompras">Registro Compras</a>
            </div>

        </div>
    </div>

@code {

}
