@page "/MenuRegistros"
    <style type="text/css">
    
        
        img{
            height:50px;
            width: 50px;
        }
        #ContenedorPrincipal div {
            height: 100px;
            width: 250px;
        }

    </style>    

    <div  id="ContenedorPrincipal" class="card-header">
        
        <div class="form-group">
            <h3>Registros</h3>
        </div>


        <div class="row">
            <div class="col" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/UserLogo2.png" alt="Logo usuarios" />
                <a class="btn btn-warning" href="RegistroUsuarios">Registro usuarios</a>
            </div>

            <div class="col" style="background-color: rgb(188,191,197); ">
                <img src="css/Images/UserLogo2.png" alt="Logo usuarios" />
                <a class="btn btn-warning" href="RegistroClientes">Registro Clientes</a>
            </div>
        </div>

    </div>

@code {

}
